---
import PagesLayout from "../layouts/Pages-layout.astro";
---

<PagesLayout title="Los Actores - Saber Supercomplejo">
			<div class="py-16">
				<h1 class="font-medium text-lg">LOS ACTORES</h1>
				<h2 class="text-5xl lg:text-6xl tracking-tight font-semibold mt-2">¿Qué es la Comunidad del SSC, qué objetivos tiene y qué beneficios tienen sus miembros?</h2>
			</div>

			<div class="lg:mt-16 flex flex-col gap-4">
				<p>
					La Comunidad del Saber Supercomplejo es un equipo de investigación y desarrollo cuyo objetivo es instalar al Saber Supercomplejo como teoría alternativa y superadora, generando de comprensiones integrales y multidimensionales de la realidad y estrategias de intervención superadoras de problemáticas sociales y planetarias emergentes.
				</p>

				<p>
					Su Programa de Asistencia y Desarrollo está pensado para atender demandas de crecimiento y potenciación de administraciones de gobierno, empresas e instituciones interesadas en mejorar en el cumplimiento de sus funciones y objetivos. Las posibilidades de implementación del Programa son múltiples, a modo de ejemplo: sistemas de protección de recursos naturales; descubrimiento de nuevos elementos químicos y sus combinatorias; desarrollo astronómico y climatológico; diseño de fuentes de energía alternativas; atención a problemáticas sociales como el desarrollo de sistemas de salud, educativos, de justicia; estrategias de lucha contra la desnutrición, las enfermedades, la corrupción o el narcotráfico; potenciamiento de sistemas de producción y ventas en instituciones industriales y comerciales. Estás invitado a sumarte a nuestra Comunidad. La membresía, por tiempo limitado, es gratuita.
				</p>

</PagesLayout>