---
import Contact from '../components/Contact.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Saber Supercomplejo'>
	<Nav style="dark" />
	<main class="min-h-screen">
		<section class="bg-emerald-700">
			<div class="container mx-auto px-4 lg:px-16 py-32">
				<h1 class="text-[13vw] lg:text-9xl tracking-tighter font-bold leading-[.9] text-white/40">Saber <br>Supercomplejo</h1>
				<p class="max-w-xl text-neutral-300 text-xl mt-12 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ex tempora odit provident, dignissimos maiores alias neque quidem fugit. Corporis nulla sint sequi qui tenetur ab officiis, eaque unde voluptate.</p>
			</div>
		</section>


		<section class="bg-neutral-900 text-white">
			<div class="container mx-auto px-4 lg:px-16 py-32">
				<div class="grid lg:grid-cols-2 gap-4">
					<div>
						<h2 class="font-medium">LA TEORÍA</h2>
						<h3 class="text-4xl lg:text-5xl tracking-tight font-semibold mt-6">¿Qué es el Saber Supercomplejo?</h3>
						<p class="mt-8 text-lg font-light text-neutral-200">Se trata de una propuesta paradigmática integradora y superadora del Pensamiento Complejo y de las Ciencias de la Complejidad, redefiniendo su objeto de estudio, es decir, los sistemas complejos, en la interrelación de sus componentes fundamentales: los flujos de energía, las morfologías estructurales y la conectividad temporal. </p>
						<p class="mt-4 text-lg font-light text-neutral-200">El SSC propone una reconfiguración de suprasistemas (micropartículas, macroscópico y biológico) que se superponen y articulan desde la supercomplejidad del universo y de la vida. También postula una metodología de descripción, predicción e intervención que construye y vincula mapas y algoritmos como herramientas para descubrir, entender y manipular las dinámicas y estructuras de sistemas complejos.</p>
						<a href="/teoria" class="rounded bg-emerald-400 text-black text-lg px-6 font-medium py-2 mt-8 block w-fit">Leer la teoría</a>
					</div>

					<div class=""></div>
				</div>
			</div>
		</section>

		<section class="bg-neutral-800 text-white">
			<div class="container mx-auto px-4 lg:px-16 py-32">
				<div class="grid lg:grid-cols-2 gap-0">
					<div>
						<h2 class="font-medium">LOS ACTORES</h2>
						<h3 class="text-4xl lg:text-5xl tracking-tight font-semibold mt-6">¿Qué es la Comunidad del SSC, qué objetivos tiene y qué beneficios tienen sus miembros? </h3>
						<p class="mt-8 text-lg font-light text-neutral-200">La Comunidad del Saber Supercomplejo es un equipo de investigación y desarrollo cuyo objetivo es instalar este paradigma como alternativo e integrador, generando comprensiones integrales y multidimensionales de la realidad y estrategias de intervención superadoras de problemáticas sociales y planetarias emergentes.</p>
						<p class="mt-4 text-lg font-light text-neutral-200">Su Programa de Intervención y Desarrollo está pensado para atender demandas de crecimiento y potenciación de administraciones de gobierno, empresas e instituciones interesadas en mejorar el cumplimiento de sus funciones y objetivos.</p>
						<a href="#" class="rounded bg-emerald-400 text-black text-lg px-6 font-medium py-2 mt-8 block w-fit">Leer sobre la comunidad</a>
					</div>

					<div class=""></div>
				</div>
			</div>
		</section>

		<section class="bg-neutral-900 text-white">
			<div class="container mx-auto px-4 lg:px-16 py-32">
				<div class="grid lg:grid-cols-2 gap-4">
					<div>
						<h2 class="font-medium">EL CAMINO</h2>
						<h3 class="text-4xl lg:text-5xl tracking-tight font-semibold mt-6">¿Qué acciones permiten que nuestros proyectos, nuestra comunidad y sus miembros crezcan?</h3>
						<p class="mt-8 text-lg font-light text-neutral-200">Se trata de construir escenarios concretos de crecimiento de la teoría y de las propuestas de intervención desde este nuevo paradigma. Un futuro mejor es posible y el Saber Supercomplejo quiere estar presente en el desarrollo de comprensiones y alternativas de acción para potencial el desarrollo institucional, personal y profesional y, con ello, brindar propuestas concretas para las grandes problemáticas sociales y planetarias.</p>
						<a href="#" class="rounded bg-emerald-400 text-black text-lg px-6 font-medium py-2 mt-8 block w-fit">Leer sobre el camino</a>
					</div>

					<div class=""></div>
				</div>
			</div>
		</section>
	</main>

	<Contact />
</Layout>
