---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to Astro.'>
	<main class="min-h-screen">
		<section class="bg-emerald-950">
			<div class="container mx-auto px-8 py-32">
				<h1 class="text-9xl tracking-tighter font-bold leading-[.9] text-white/25">Saber <br>Supercomplejo</h1>
				<p class="max-w-xl text-white text-xl mt-12 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ex tempora odit provident, dignissimos maiores alias neque quidem fugit. Corporis nulla sint sequi qui tenetur ab officiis, eaque unde voluptate.</p>
			</div>
		</section>


		<section class="bg-neutral-900 text-white">
			<div class="container mx-auto px-8 py-32">
				<div class="grid grid-cols-2 gap-16">
					<div>
						<h1 class="font-medium">TEORÍA</h1>
						<p class="text-5xl font-semibold mt-6">¿Qué es el Saber Supercomplejo?</p>
						<p class="mt-8 text-lg font-light text-neutral-200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nobis eius saepe dolor iusto quia at necessitatibus accusamus eum. Maiores provident obcaecati pariatur esse. Nostrum tempora ut totam at dolor!</p>
						<p class="mt-4 text-lg font-light text-neutral-200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nobis eius saepe dolor iusto quia at necessitatibus accusamus eum. Maiores provident obcaecati pariatur esse. Nostrum tempora ut totam at dolor!</p>
						<a href="#" class="rounded bg-emerald-400 text-black text-lg px-6 font-medium py-2 mt-8 block w-fit">Leer más</a>
					</div>

					<div class=""></div>
				</div>
			</div>
		</section>

		<section class="bg-neutral-800 text-white">
			<div class="container mx-auto px-8 py-32">
				<div class="grid grid-cols-2 gap-16">
					<div>
						<h1 class="font-medium">COMUNIDAD</h1>
						<p class="text-5xl font-semibold mt-6">Título sobre la Comunidad</p>
						<p class="mt-8 text-lg font-light text-neutral-200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nobis eius saepe dolor iusto quia at necessitatibus accusamus eum. Maiores provident obcaecati pariatur esse. Nostrum tempora ut totam at dolor!</p>
						<a href="#" class="rounded bg-emerald-400 text-black text-lg px-6 font-medium py-2 mt-8 block w-fit">Leer más</a>
					</div>

					<div class=""></div>
				</div>
			</div>
		</section>
	</main>
</Layout>
