---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/home/Hero.astro';
import Theory from '../components/home/Theory.astro';
import Community from '../components/home/Community.astro';
import Pathway from '../components/home/Pathway.astro';
import Contact from '../components/Contact.astro';
---

<Layout title='Saber Supercomplejo'>
	<Nav style="dark" />
	<main class="min-h-screen text-tertiary-50">
		<Hero />

		<Theory />

		<Community />

		<Pathway />
	</main>

	<Contact />
</Layout>
