---
import ImgSSC from "../ImgSSC.astro"
import ButtonSection from "../ButtonSection.astro"
---

<section class="bg-neutral-800">
	<div class="container mx-auto px-4 lg:px-16 py-24 lg:py-32">
		<div class="grid lg:grid-cols-2 gap-12 items-center">
			<div class="lg:ml-20 mx-24">
				<ImgSSC />
			</div>

			<div class="lg:-order-1">
				<h2 class="font-medium">LOS ACTORES</h2>
				<h3 class="text-4xl lg:text-5xl tracking-tight font-semibold mt-6">¿Qué es la Comunidad del SSC, qué objetivos tiene y qué beneficios tienen sus miembros? </h3>
				<p class="mt-8 text-lg font-light text-neutral-300">La Comunidad del Saber Supercomplejo es un equipo de investigación y desarrollo cuyo objetivo es instalar este paradigma como alternativo e integrador, generando comprensiones integrales y multidimensionales de la realidad y estrategias de intervención superadoras de problemáticas sociales y planetarias emergentes.</p>
				<p class="mt-4 text-lg font-light text-neutral-300">Su Programa de Intervención y Desarrollo está pensado para atender demandas de crecimiento y potenciación de administraciones de gobierno, empresas e instituciones interesadas en mejorar el cumplimiento de sus funciones y objetivos.</p>
				<ButtonSection href="/actores" text="Leer sobre la comunidad" />
			</div>

		</div>
	</div>
</section>