<section class="bg-primary-950">
	<div class="container grid lg:grid-cols-2 items-center mx-auto px-4 lg:px-16 py-20 lg:py-40 min-h-[90vh]">

		<div class="">
			<h1 class="text-[11vw] lg:text-[5rem] tracking-tighter font-semibold leading-[0.9] uppercase">
				Comunidad <br> del Saber <br> Supercomplejo
			</h1>
			<p class="max-w-xl text-neutral-300 text-xl mt-8 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ex tempora odit provident, dignissimos maiores alias neque quidem fugit. Corporis nulla sint sequi qui tenetur ab officiis, eaque unde voluptate.</p>
		</div>

		<!-- <div class="w-40 aspect-square bg-red-300"></div> -->
	</div>
	</section>