<section class="bg-primary-950">
	<div class="container flex flex-col justify-center gap-8 mx-auto px-4 lg:px-16 py-20 lg:py-40 min-h-[85vh] relative">
		<div class="relative z-10">
			<h1 class="text-[10.5vw] lg:text-[5.5rem] tracking-tighter font-semibold leading-[0.9] uppercase">
				Comunidad <br> del Saber <br> Supercomplejo
			</h1>
			<p class="max-w-xl text-neutral-300 lg:text-xl mt-8 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ex tempora odit provident, dignissimos maiores alias neque quidem fugit. Corporis nulla sint sequi qui tenetur ab officiis, eaque unde voluptate.</p>
		</div>

		<div class="absolute inset-0 w-full h-full">
			<!-- <div class="absolute top-32 left-1/4 opacity-80 animate-spin">
				<svg class="w-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 243 295">
					<g id="Capa_2" data-name="Capa 2">
						<g id="Capa_1-2" data-name="Capa 1">
							<circle cx="28.5" cy="115.5" r="28.5"/>
							<circle cx="214.5" cy="134.5" r="28.5"/>
							<circle cx="197.5" cy="276.5" r="18.5"/>
							<circle cx="61.5" cy="234.5" r="18.5"/>
							<circle cx="134.5" cy="18.5" r="18.5"/>
							<line x1="61.5" y1="234.5" x2="224.5" y2="134.5" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/>
							<line x1="197" y1="276" x2="134" y2="18" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/>
							<line x1="18" y1="115" x2="197" y2="276" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/>
							<line x1="134" y1="18" x2="18" y2="115" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/>
							<line x1="224" y1="130" x2="197" y2="276" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"/>
						</g>
					</g>
				</svg>


			</div> -->


			<div class="w-0 border-l-2 border-dashed border-neutral-900/30 h-full absolute right-4"></div>
			<div class="w-0 border-l-2 border-dashed border-neutral-900/30 h-full absolute right-12"></div>
			<div class="w-0 border-l-2 border-dashed border-neutral-900/30 h-full absolute right-20"></div>
			<div class="h-0 border-t-2 border-dashed border-neutral-900/30 w-full absolute bottom-8"></div>
			<div class="h-0 border-t-2 border-dashed border-neutral-900/30 w-full absolute bottom-16"></div>
			<div class="h-0 border-t-2 border-dashed border-neutral-900/30 w-full absolute bottom-24"></div>
		</div>
	</div>

	</section>