<section class="bg-neutral-900">
	<div class="container mx-auto px-4 lg:px-16 py-24 lg:py-32">
		<div class="grid lg:grid-cols-2 gap-4">
			<div>
				<h2 class="font-medium">EL CAMINO</h2>
				<h3 class="text-4xl lg:text-5xl tracking-tight font-semibold mt-6">¿Qué acciones permiten que nuestros proyectos, nuestra comunidad y sus miembros crezcan?</h3>
				<p class="mt-8 text-lg font-light text-neutral-300">Se trata de construir escenarios concretos de crecimiento de la teoría y de las propuestas de intervención desde este nuevo paradigma. Un futuro mejor es posible y el Saber Supercomplejo quiere estar presente en el desarrollo de comprensiones y alternativas de acción para potencial el desarrollo institucional, personal y profesional y, con ello, brindar propuestas concretas para las grandes problemáticas sociales y planetarias.</p>
				<a href="/camino" class="bg-secondary-400 text-black text-lg px-6 font-medium py-2 mt-8 block w-fit">Leer sobre el camino</a>
			</div>

			<div class=""></div>
		</div>
	</div>
</section>