<section class="bg-neutral-900 relative">
	<div aria-hidden="true" class="absolute pointer-events-none top-0 right-2 -translate-y-1/2 flex gap-2">
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
		<div class="w-1 h-8 bg-secondary-600 -skew-x-12"></div>
	</div>
	<div class="container mx-auto px-4 lg:px-16 py-24 lg:py-32">
		<div class="grid lg:grid-cols-2 gap-4">
			<div>
				<h2 class="font-medium">LA TEORÍA</h2>
				<h3 class="text-4xl lg:text-5xl tracking-tight font-semibold mt-6">¿Qué es el Saber Supercomplejo?</h3>
				<p class="mt-8 text-lg font-light text-neutral-300">Se trata de una propuesta paradigmática integradora y superadora del Pensamiento Complejo y de las Ciencias de la Complejidad, redefiniendo su objeto de estudio, es decir, los sistemas complejos, en la interrelación de sus componentes fundamentales: los flujos de energía, las morfologías estructurales y la conectividad temporal. </p>
				<p class="mt-4 text-lg font-light text-neutral-300">El SSC propone una reconfiguración de suprasistemas (micropartículas, macroscópico y biológico) que se superponen y articulan desde la supercomplejidad del universo y de la vida. También postula una metodología de descripción, predicción e intervención que construye y vincula mapas y algoritmos como herramientas para descubrir, entender y manipular las dinámicas y estructuras de sistemas complejos.</p>
				<a href="/teoria" class="whitespace-nowrap bg-secondary-400 text-neutral-950 text-lg px-6 font-medium py-2 mt-8 block w-fit">Leer la teoría</a>
			</div>

			<div class=""></div>
		</div>
	</div>
</section>