<section class="bg-neutral-800 text-white">
	<div class="container mx-auto px-4 lg:px-16 py-32">
		<div class="grid lg:grid-cols-2 gap-4">
			<div class="">
				<h2 class="text-4xl lg:text-5xl tracking-tight font-semibold mt-6">Ponte en contacto</h2>
			</div>
		</div>
	</div>
</section>