<div class="scene">
	<div class="cube">
		<div class="cube__face cube__face--front"></div>
		<div class="cube__face cube__face--left"></div>
		<div class="cube__face cube__face--top"></div>
	</div>
</div>

<style>

	.scene {
		width: 10px;
		height: 10px;
		perspective: 10000px;
	}

	.cube {
		width: 100%;
		height: 100%;
		position: relative;
		transform-style: preserve-3d;
		transform: rotateX(-90deg);
		transition: transform 0.3s;
	}

	.cube:hover {
		transform: rotateX(-45deg);
	}

	.cube__face {
		position: absolute;
		width: 10px;
		height: 10px;
	}

	.cube__face--front  { background: #222624; }
	.cube__face--left   { background: #6F7271; }
	.cube__face--top    { background: #1DD68F; }

	.cube__face--front  { transform: rotateY( 45deg) translateZ(5px); }
	.cube__face--left   { transform: rotateY(-45deg) translateZ(5px); }
	.cube__face--top    { transform: rotateX( 90deg) rotateZ(45deg) translateZ(5px); }

	</style>