---
import Logo from '../assets/logo.svg'

interface Props {
	style: 'dark' | 'light';
}

const { style } = Astro.props;
---

<div class="block lg:hidden">
	<button class={`hamburger | ${style === 'dark' ? 'bg-neutral-950/30' : 'bg-neutral-600'} flex items-center gap-2 py-2 px-4 text-tertiary-50  rounded-full`}>
		<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
		Menú
	</button>

	<div class="mobile-menu closed | fixed inset-0 w-screen h-screen bg-emerald-900 text-tertiary-50">
		<div class="container mx-auto px-4 py-3 flex flex-col h-full">

			<div class="flex items-center justify-between">
				<a aria-label="Inicio" href="/">
					<div class="bg-neutral-950/30 p-[5px] rounded-full w-12 aspect-square grid place-content-center">
						<img class="w-full" src={Logo.src} alt="">
					</div>
				</a>

				<button class="close-menu | ml-auto bg-neutral-950/30 flex items-center gap-2 py-2 px-4 text-tertiary-50  rounded-full">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
					Cerrar
				</button>
			</div>


			<ul class="mt-40 flex flex-col gap-6 text-3xl font-semibold tracking-tight">
				<li><a class="nav-link | flex items-center gap-4" href="/teoria"><div aria-hidden="true" class="w-3 aspect-square rotate-45 bg-secondary-500"></div> LA TEORÍA</a></li>
				<li><a class="nav-link | flex items-center gap-4" href="/actores"><div aria-hidden="true" class="w-3 aspect-square rotate-45 bg-secondary-500"></div> LOS ACTORES</a></li>
				<li><a class="nav-link | flex items-center gap-4" href="/camino"><div aria-hidden="true" class="w-3 aspect-square rotate-45 bg-secondary-500"></div> EL CAMINO</a></li>

			</ul>
			<div class=""></div>
		</div>
	</div>
</div>

<style>
	.mobile-menu {
		transition: .2s ease-out;
	}

	.open {
		transform: translateX(0);
	}

	.closed {
		transform: translateX(-100%);
	}

	.fixed-height {
			overflow: hidden;
			height: 100vh;
		}
</style>

<script>
	document.querySelector('.hamburger').addEventListener('click', () => {
		document.querySelector('.mobile-menu').classList.remove('closed');
	})

	document.querySelector('.close-menu').addEventListener('click', () => {
		document.querySelector('.mobile-menu').classList.add('closed')
	})

	document.querySelectorAll('.nav-link').forEach(link => link.addEventListener('click', () => {
		document.querySelector('.mobile-menu').classList.add('closed')
		document.querySelector('main').classList.remove('fixed-height')
	}))
</script>