<div class="relative">
	<div class="absolute right-[17%] animate-ping bottom-[10%] w-[20%] aspect-square bg-neutral-500 rounded-full"></div>

	<svg class="relative z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 553.11 532.84">
		<polygon points="509.36 35.61 509.36 53.28 525.8 61.91 525.8 44.24 509.36 35.61" fill="#2c302e"/>
		<g>
			<line x1="517.99" y1="48" x2="486.7" y2="64.09" fill="#606060"/>
			<g>
				<line x1="517.1" y1="48.45" x2="486.7" y2="64.09" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.32"/>
				<path d="M516.58,47.55A1,1,0,0,1,518,48a1.05,1.05,0,0,1-.46,1.41,1,1,0,0,1-1.4-.46A1,1,0,0,1,516.58,47.55Z" fill="#1aba79"/>
			</g>
		</g>
		<polygon points="436.08 35.61 436.08 53.28 419.64 61.91 419.64 44.24 436.08 35.61" fill="#6f7271"/>
		<g>
			<line x1="427.46" y1="48" x2="458.75" y2="64.09" fill="#606060"/>
			<g>
				<line x1="428.34" y1="48.45" x2="458.75" y2="64.09" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.32"/>
				<path d="M427.91,49.41a1.06,1.06,0,0,1-.45-1.41,1,1,0,1,1,.45,1.41Z" fill="#1aba79"/>
			</g>
		</g>
		<polygon points="501.06 56.44 472.4 71.43 443.74 56.44 472.4 41.44 501.06 56.44" fill="#1dd68f"/>
		<g>
			<polygon points="443.74 56.35 443.74 87.15 472.4 102.21 472.4 71.4 443.74 56.35" fill="#222624"/>
			<polygon points="501.06 56.35 501.06 87.15 472.4 102.21 472.4 71.4 501.06 56.35" fill="#6f7271"/>
		</g>
		<g>
			<line x1="487.96" y1="79.17" x2="525.51" y2="98.37" fill="#606060"/>
			<g>
				<line x1="489.05" y1="79.73" x2="525.51" y2="98.37" fill="none" stroke="#1dd68f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.87"/>
				<path d="M488.52,80.91a1.3,1.3,0,0,1-.56-1.74,1.29,1.29,0,1,1,.56,1.74Z" fill="#1dd68f"/>
			</g>
		</g>
		<polygon points="532.76 82.28 532.76 104.07 512.49 114.71 512.49 92.93 532.76 82.28" fill="#6f7271"/>
		<g>
			<line x1="456.87" y1="78.38" x2="307.93" y2="155.02" fill="none" stroke="#3a3a3a" stroke-miterlimit="10" stroke-width="3.61" stroke-dasharray="5.16 5.16"/>
			<circle cx="456.8" cy="78.42" r="1.63" fill="#3a3a3a"/>
		</g>
		<polygon points="84.59 27.36 84.59 45.03 68.15 53.66 68.15 35.99 84.59 27.36" fill="#6f7271"/>
		<g>
			<line x1="75.97" y1="39.75" x2="107.26" y2="55.84" fill="#606060"/>
			<g>
				<line x1="76.85" y1="40.2" x2="107.26" y2="55.84" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.32"/>
				<path d="M76.42,41.16A1,1,0,0,1,76,39.75a1,1,0,0,1,1.86,1A1.05,1.05,0,0,1,76.42,41.16Z" fill="#1aba79"/>
			</g>
		</g>
		<polygon points="92.89 48.19 121.55 63.18 150.22 48.19 121.55 33.19 92.89 48.19" fill="#1dd68f"/>
		<g>
			<polygon points="150.22 48.1 150.22 78.9 121.55 93.96 121.55 63.15 150.22 48.1" fill="#6f7271"/>
			<polygon points="92.89 48.1 92.89 78.9 121.55 93.96 121.55 63.15 92.89 48.1" fill="#222624"/>
		</g>
		<g>
			<line x1="105.99" y1="70.92" x2="68.44" y2="90.12" fill="#606060"/>
			<g>
				<line x1="104.9" y1="71.48" x2="68.44" y2="90.12" fill="none" stroke="#1dd68f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.87"/>
				<path d="M104.25,70.36a1.29,1.29,0,0,1,1.18,2.3,1.29,1.29,0,0,1-1.18-2.3Z" fill="#1dd68f"/>
			</g>
		</g>
		<polygon points="61.2 74.03 61.2 95.82 81.46 106.46 81.46 84.68 61.2 74.03" fill="#222624"/>
		<line x1="121.55" y1="47.73" x2="121.55" y2="10.26" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3.04"/>
		<polygon points="101.81 10.3 121.5 20.6 141.18 10.3 121.5 0 101.81 10.3" fill="#6f7271"/>
		<g>
			<line x1="137.08" y1="70.13" x2="286.03" y2="146.77" fill="none" stroke="#3a3a3a" stroke-miterlimit="10" stroke-width="3.61" stroke-dasharray="5.16 5.16"/>
			<path d="M136.41,71.62a1.63,1.63,0,1,1,2.19-.71A1.64,1.64,0,0,1,136.41,71.62Z" fill="#3a3a3a"/>
		</g>
		<polygon points="267.53 136.91 304.44 156.22 341.35 136.91 304.44 117.61 267.53 136.91" fill="#1dd68f"/>
		<g>
			<polygon points="341.35 136.8 341.35 176.47 304.44 195.85 304.44 156.18 341.35 136.8" fill="#6f7271"/>
			<polygon points="267.53 136.8 267.53 176.47 304.44 195.85 304.44 156.18 267.53 136.8" fill="#222624"/>
		</g>
		<g>
			<line x1="323.64" y1="166.19" x2="372" y2="190.92" fill="#606060"/>
			<g>
				<line x1="325.05" y1="166.91" x2="372" y2="190.92" fill="none" stroke="#1dd68f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3.69"/>
				<path d="M324.37,168.43a1.67,1.67,0,1,1,2.24-.73A1.67,1.67,0,0,1,324.37,168.43Z" fill="#1dd68f"/>
			</g>
		</g>
		<polygon points="381.33 170.19 381.33 198.25 355.23 211.95 355.23 183.9 381.33 170.19" fill="#6f7271"/>
		<line x1="304.43" y1="136.33" x2="304.43" y2="88.07" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3.91"/>
		<polygon points="279.01 88.12 304.36 101.39 329.72 88.12 304.36 74.86 279.01 88.12" fill="#6f7271"/>
		<polygon points="37.23 208.35 37.23 236.47 11.06 250.21 11.06 222.09 37.23 208.35" fill="#6f7271"/>
		<g>
			<line x1="23.51" y1="228.06" x2="73.29" y2="253.68" fill="#606060"/>
			<g>
				<line x1="24.91" y1="228.79" x2="73.29" y2="253.68" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3.69"/>
				<path d="M24.23,230.31a1.66,1.66,0,1,1,2.24-.72A1.67,1.67,0,0,1,24.23,230.31Z" fill="#1aba79"/>
			</g>
		</g>
		<g>
			<line x1="285.52" y1="167.4" x2="117.77" y2="253.68" fill="none" stroke="#3a3a3a" stroke-miterlimit="10" stroke-width="4" stroke-dasharray="6.45 6.45"/>
			<path d="M284.61,165.84a1.8,1.8,0,1,1-.78,2.43A1.8,1.8,0,0,1,284.61,165.84Z" fill="#3a3a3a"/>
		</g>
		<polygon points="50.44 241.5 96.05 265.36 141.66 241.5 96.05 217.64 50.44 241.5" fill="#1dd68f"/>
		<g>
			<polygon points="141.66 241.35 141.66 290.37 96.05 314.33 96.05 265.31 141.66 241.35" fill="#6f7271"/>
			<polygon points="50.44 241.35 50.44 290.37 96.05 314.33 96.05 265.31 50.44 241.35" fill="#222624"/>
		</g>
		<g>
			<line x1="71.28" y1="277.67" x2="11.54" y2="308.23" fill="#606060"/>
			<g>
				<line x1="69.54" y1="278.56" x2="11.54" y2="308.23" fill="none" stroke="#1dd68f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4.56"/>
				<path d="M68.52,276.77a2.06,2.06,0,1,1-.9,2.77A2.06,2.06,0,0,1,68.52,276.77Z" fill="#1dd68f"/>
			</g>
		</g>
		<polygon points="0 282.62 0 317.29 32.25 334.22 32.25 299.56 0 282.62" fill="#222624"/>
		<line x1="96.04" y1="240.77" x2="96.04" y2="181.14" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4.83"/>
		<polygon points="64.62 181.21 95.95 197.59 127.28 181.21 95.95 164.82 64.62 181.21" fill="#6f7271"/>
		<g>
			<line x1="120.72" y1="278.66" x2="401" y2="422.89" fill="none" stroke="#3a3a3a" stroke-miterlimit="10" stroke-width="6" stroke-dasharray="7.73 7.73"/>
			<path d="M119.6,281.13a2.71,2.71,0,1,1,3.65-1.17A2.72,2.72,0,0,1,119.6,281.13Z" fill="#3a3a3a"/>
		</g>
		<polygon points="494.05 333.14 494.05 377.75 535.55 399.55 535.55 354.94 494.05 333.14" fill="#222624"/>
		<g>
			<line x1="515.82" y1="364.42" x2="436.83" y2="405.06" fill="#606060"/>
			<g>
				<line x1="513.59" y1="365.57" x2="436.83" y2="405.06" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="5.85"/>
				<path d="M512.26,363.28a2.64,2.64,0,1,1-1.14,3.56A2.64,2.64,0,0,1,512.26,363.28Z" fill="#1aba79"/>
			</g>
		</g>
		<polygon points="330.01 385.73 402.37 423.58 474.73 385.73 402.37 347.88 330.01 385.73" fill="#1dd68f"/>
		<g>
			<polygon points="474.73 385.5 474.73 463.27 402.37 501.27 402.37 423.5 474.73 385.5" fill="#6f7271"/>
			<polygon points="330.01 385.5 330.01 463.27 402.37 501.27 402.37 423.5 330.01 385.5" fill="#222624"/>
		</g>
		<g>
			<line x1="363.09" y1="443.12" x2="268.3" y2="491.6" fill="#606060"/>
			<g>
				<line x1="360.33" y1="444.53" x2="268.3" y2="491.6" fill="none" stroke="#1dd68f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="7.24"/>
				<path d="M358.7,441.7a3.26,3.26,0,1,1-1.42,4.39A3.25,3.25,0,0,1,358.7,441.7Z" fill="#1dd68f"/>
			</g>
		</g>
		<polygon points="250 450.97 250 505.97 301.17 532.84 301.17 477.85 250 450.97" fill="#222624"/>
		<g>
			<line x1="440.02" y1="443.12" x2="534.81" y2="491.6" fill="#606060"/>
			<g>
				<line x1="442.78" y1="444.53" x2="534.81" y2="491.6" fill="none" stroke="#1dd68f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="7.24"/>
				<path d="M441.44,447.51a3.26,3.26,0,1,1,4.39-1.42A3.27,3.27,0,0,1,441.44,447.51Z" fill="#1dd68f"/>
			</g>
		</g>
		<polygon points="553.11 450.97 553.11 505.97 501.94 532.84 501.94 477.85 553.11 450.97" fill="#6f7271"/>
		<line x1="402.36" y1="384.58" x2="402.36" y2="289.98" fill="none" stroke="#1aba79" stroke-linecap="round" stroke-miterlimit="10" stroke-width="7.67"/>
		<polygon points="352.52 290.08 402.22 316.08 451.93 290.08 402.22 264.08 352.52 290.08" fill="#6f7271"/>
	</svg>
</div>