<div class="relative">
	<svg class="outer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 830 830">
		<g>
			<path d="M412.58,795C203.83,793.69,35,624.06,35,415,35,205.13,205.13,35,415,35c122.41,0,231.3,57.88,300.8,147.76" fill="none" stroke="#63c690" stroke-miterlimit="10" stroke-width="8"/>
			<polygon points="700.07 188.53 729.29 201.34 725.77 169.63 700.07 188.53" fill="#63c690"/>
		</g>
		<path d="M378.18,6.63Q396.38,5,415,5C641.44,5,825,188.56,825,415c0,137.61-67.8,259.39-171.81,333.75" fill="none" stroke="#1dd68f" stroke-miterlimit="10" stroke-width="10"/>
		<g>
			<path d="M588.59,786.55q-4.08,1.91-8.2,3.72" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="10"/>
			<path d="M572.17,793.8A408.86,408.86,0,0,1,415,825C188.56,825,5,641.44,5,415A408.4,408.4,0,0,1,45.26,237.61" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="10" stroke-dasharray="17.9 8.95"/>
			<path d="M47.21,233.6q2-4,4.08-8" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="10"/>
		</g>
	</svg>

	<svg class="inner | absolute inset-[8%]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 704.46 704.46">
		<g opacity="0.45">
			<path d="M617,341.41l87.46-3.53A350.48,350.48,0,0,0,666.4,192.07l-78,39.75A263.5,263.5,0,0,1,617,341.41Z" fill="#63c690"/>
			<path d="M352.37,616.93a264,264,0,0,1-186.15-76.46L104.7,602.73A351.21,351.21,0,0,0,352.37,704.46q9.09,0,18.06-.45l-4.49-87.42Q359.21,616.94,352.37,616.93Z" fill="#63c690"/>
			<path d="M593,462.82l79.54,36.6a352.41,352.41,0,0,0,14.09-35.56l-83-27.93A263.25,263.25,0,0,1,593,462.82Z" fill="#63c690"/>
			<path d="M494,576l46.79,74A354.34,354.34,0,0,0,647.93,544l-73.41-47.68A266.22,266.22,0,0,1,494,576Z" fill="#63c690"/>
			<path d="M614.32,391.39a263.88,263.88,0,0,1-7.38,34L691,449.83a349.16,349.16,0,0,0,9.86-45.35Z" fill="#63c690"/>
			<path d="M615.71,380.45l87,9.46q1-9.63,1.53-19.39l-87.41-4.58Q616.49,373.26,615.71,380.45Z" fill="#63c690"/>
			<path d="M576.24,210.51l74-46.79C590.83,70,488.45,6.25,370.81.19L366.23,87.6A264.71,264.71,0,0,1,576.24,210.51Z" fill="#63c690"/>
			<path d="M96.91,422.17,12.47,445.33a350.35,350.35,0,0,0,15.31,44.12l80.63-34.12A261.73,261.73,0,0,1,96.91,422.17Z" fill="#63c690"/>
			<path d="M377,615.8,385.17,703a350.16,350.16,0,0,0,104.56-26.26l-34.12-80.63A263.16,263.16,0,0,1,377,615.8Z" fill="#63c690"/>
			<path d="M87.53,352.09A264.19,264.19,0,0,1,178,152.79L120.77,86.52A353,353,0,0,0,8.87,431l85.33-19.6A265.69,265.69,0,0,1,87.53,352.09Z" fill="#63c690"/>
			<path d="M136.32,505.3,64.91,555.93A352.43,352.43,0,0,0,94.4,592.12l64.08-59.62A266.7,266.7,0,0,1,136.32,505.3Z" fill="#63c690"/>
			<path d="M465.75,591.5l37.47,79.13q4.62-2.19,9.17-4.51l-39.75-78C470.36,589.28,468.07,590.4,465.75,591.5Z" fill="#63c690"/>
			<path d="M113,465.47,33.84,502.94A350.09,350.09,0,0,0,56.61,543.7l73.46-47.6A264.45,264.45,0,0,1,113,465.47Z" fill="#63c690"/>
			<path d="M341.7,87.46,338.17,0A352.87,352.87,0,0,0,272.6,8.78L292.68,94A264.45,264.45,0,0,1,341.7,87.46Z" fill="#63c690"/>
			<path d="M269.44,100.49l-27.87-83a351.31,351.31,0,0,0-95.16,48.65l50.82,71.28A263.89,263.89,0,0,1,269.44,100.49Z" fill="#63c690"/>
		</g>
	</svg>

	<svg class="absolute inset-[26%] top-[25%]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381.43 400">
		<g>
			<path d="M0,188.81c0,52.65,11.29,92.76,35.35,126.82,43.72,61.9,103.56,91.95,179.53,82.74,92.7-11.25,160.35-91.5,166.52-183.85.17-2.57-.36-3.63-3.17-3.55-6.33.17-12.67.19-19,0-2.79-.08-3.2,1.12-3.4,3.53-3.21,38.37-16.9,72.48-41.68,102.07-59.44,71-163.44,77.87-231.6,15.35C10.27,265.62,6.07,149,73.39,77.56,131.1,16.34,221.45,8.39,287.72,58.85,315.4,79.93,334.58,107.3,346.16,140c1.11,3.13,2.45,4.36,5.83,4.19,6-.29,12.06-.27,18.07,0,3.77.16,3.9-1.13,2.94-4.25-11.73-38-32.53-70.1-62.92-95.86C252.06-5.1,170.16-14.4,103.85,22.61,34.87,61.11,3.12,122.46,0,188.81Zm260.69-44.64.53-1.06q-20.52-20.39-41-40.78c-1.41-1.4-3.06-1.25-4.74-1.25-19.94,0-39.88,0-59.81,0a7.28,7.28,0,0,0-5.73,2.27q-17.26,17.49-34.74,34.77a7.24,7.24,0,0,0-2.36,5.67c.11,12.82.27,25.66-.06,38.47-.12,4.41,1.31,5.24,5.39,5.23,58.11-.16,116.23-.12,174.34-.26,3.76,0,5,.85,4.93,4.81-.2,21.47-.15,42.95,0,64.43a8.77,8.77,0,0,1-2.84,6.9q-30.07,29.88-60,60a9.34,9.34,0,0,1-7.32,3c-24-.1-47.91-.15-71.86,0a12.78,12.78,0,0,1-10.11-4.17C124.48,301,103.48,280.07,82.55,259c-1.33-1.33-2.55-2.54-4.7-2.5-5.4.11-10.81,0-16.22,0-1.2,0-2.87-.27-2.81,1.51.16,5.36-1.26,10.67,3.63,15.47,25,24.58,49.73,49.5,74.45,74.38a8.79,8.79,0,0,0,6.89,2.84q46.14-.15,92.27,0a9.76,9.76,0,0,0,7.68-3.17q37.25-37.49,74.7-74.75a9.3,9.3,0,0,0,3-7.28c-.09-32.45-.14-64.9,0-97.35,0-4.31-1.18-5.34-5.38-5.33-48.07.15-96.14.09-144.2.09-9.89,0-19.78,0-29.68,0-1.3,0-2.85.57-3.86-.82-1.33-1.82-.05-13.18,1.74-15,6.35-6.53,12.81-13,19.09-19.58a7.08,7.08,0,0,1,5.71-2.27q19.47.14,38.95,0a7.12,7.12,0,0,1,5.66,2.41c4.61,4.78,9.36,9.42,14.06,14.13,1.19,1.19,2.24,2.39,4.25,2.38C238.8,144.13,249.74,144.17,260.69,144.17ZM111.81,256.59a16.6,16.6,0,0,0,1.35,2q21,21,41.91,42c1.62,1.63,3.34,1.86,5.41,1.85,20.39,0,40.79-.07,61.19,0a8.24,8.24,0,0,0,6.44-2.83q17.76-18,35.71-35.74a9.14,9.14,0,0,0,3.06-7.25c-.16-13.29-.26-26.58,0-39.86.1-4.51-.81-5.92-5.71-5.91-57.63.21-115.27.1-172.91.21-3.61,0-4.63-.89-4.6-4.56.18-20.55.12-41.1,0-61.65a7.33,7.33,0,0,1,2.39-5.68Q116,109.44,145.76,79.53a7.29,7.29,0,0,1,5.7-2.35q38.7.1,77.41,0a7.54,7.54,0,0,1,6,2.62c16.32,17.09,33.36,33.55,48.9,51.32,8.79,10.06,18,15.2,31.35,13.21,5.74-.85,8.15-4.06,5.36-9.47a14.56,14.56,0,0,0-2.68-3.17Q280.9,93.57,244,55.41c-2-2-4-2.47-6.57-2.47q-48.43.08-96.89,0a8.56,8.56,0,0,0-6.88,2.81q-36,37.39-72.22,74.57a9,9,0,0,0-2.81,6.92c.08,30.59.13,61.18,0,91.77,0,4,.93,5.1,5.07,5.09q83.43-.24,166.88-.11c11.16,0,11.08,0,11.2,11.33,0,3.81-.29,7-3.48,9.91-7.17,6.57-13.9,13.63-20.71,20.58a7.23,7.23,0,0,1-5.68,2.42c-13.75-.09-27.5-.11-41.26,0a7.5,7.5,0,0,1-6-2.69c-5.2-5.5-10.52-10.88-15.83-16.28-1.16-1.18-2.12-2.68-4.12-2.68C133.92,256.6,123.17,256.59,111.81,256.59Z" transform="translate(0)" fill="#1ab580"/>
			<path d="M0,188.81c3.12-66.35,34.87-127.7,103.85-166.2,66.31-37,148.21-27.71,206.23,21.48C340.47,69.85,361.27,101.91,373,140c1,3.12.83,4.41-2.94,4.25-6-.26-12.06-.28-18.07,0-3.38.17-4.72-1.06-5.83-4.19-11.58-32.72-30.76-60.09-58.44-81.17C221.45,8.39,131.1,16.34,73.39,77.56,6.07,149,10.27,265.62,82.55,331.91c68.16,62.52,172.16,55.61,231.6-15.35,24.78-29.59,38.47-63.7,41.68-102.07.2-2.41.61-3.61,3.4-3.53,6.33.2,12.67.18,19,0,2.81-.08,3.34,1,3.17,3.55-6.17,92.35-73.82,172.6-166.52,183.85-76,9.21-135.81-20.84-179.53-82.74C11.29,281.57,0,241.46,0,188.81Z" transform="translate(0)" fill="#1ab580"/>
			<path d="M260.69,144.17c-10.95,0-21.89,0-32.83,0-2,0-3.06-1.19-4.25-2.38-4.7-4.71-9.45-9.35-14.06-14.13a7.12,7.12,0,0,0-5.66-2.41q-19.48.17-38.95,0a7.08,7.08,0,0,0-5.71,2.27c-6.28,6.6-12.74,13.05-19.09,19.58-1.79,1.83-3.07,13.19-1.74,15,1,1.39,2.56.81,3.86.82,9.9.05,19.79,0,29.68,0,48.06,0,96.13.06,144.2-.09,4.2,0,5.4,1,5.38,5.33-.19,32.45-.14,64.9,0,97.35a9.3,9.3,0,0,1-3,7.28q-37.47,37.26-74.7,74.75a9.76,9.76,0,0,1-7.68,3.17q-46.12-.17-92.27,0A8.79,8.79,0,0,1,136.9,348c-24.72-24.88-49.42-49.8-74.45-74.38-4.89-4.8-3.47-10.11-3.63-15.47-.06-1.78,1.61-1.51,2.81-1.51,5.41,0,10.82.06,16.22,0,2.15,0,3.37,1.17,4.7,2.5,20.93,21,41.93,42,62.75,63.13a12.78,12.78,0,0,0,10.11,4.17c24-.19,47.91-.14,71.86,0a9.34,9.34,0,0,0,7.32-3q29.86-30.1,60-60a8.77,8.77,0,0,0,2.84-6.9c-.11-21.48-.16-43,0-64.43,0-4-1.17-4.82-4.93-4.81-58.11.14-116.23.1-174.34.26-4.08,0-5.51-.82-5.39-5.23.33-12.81.17-25.65.06-38.47a7.24,7.24,0,0,1,2.36-5.67q17.46-17.3,34.74-34.77a7.28,7.28,0,0,1,5.73-2.27c19.93.06,39.87,0,59.81,0,1.68,0,3.33-.15,4.74,1.25q20.48,20.43,41,40.78Z" transform="translate(0)" fill="#1ab580"/>
			<path d="M111.81,256.59c11.36,0,22.11,0,32.85,0,2,0,3,1.5,4.12,2.68,5.31,5.4,10.63,10.78,15.83,16.28a7.5,7.5,0,0,0,6,2.69c13.76-.12,27.51-.1,41.26,0a7.23,7.23,0,0,0,5.68-2.42c6.81-6.95,13.54-14,20.71-20.58,3.19-2.93,3.52-6.1,3.48-9.91-.12-11.33,0-11.33-11.2-11.33q-83.45,0-166.88.11c-4.14,0-5.09-1.05-5.07-5.09.18-30.59.13-61.18,0-91.77a9,9,0,0,1,2.81-6.92q36.23-37.18,72.22-74.57a8.56,8.56,0,0,1,6.88-2.81q48.45.1,96.89,0c2.58,0,4.61.43,6.57,2.47q36.81,38.22,73.8,76.27a14.56,14.56,0,0,1,2.68,3.17c2.79,5.41.38,8.62-5.36,9.47-13.36,2-22.56-3.15-31.35-13.21-15.54-17.77-32.58-34.23-48.9-51.32a7.54,7.54,0,0,0-6-2.62q-38.7.12-77.41,0a7.29,7.29,0,0,0-5.7,2.35Q116,109.44,86.14,139.21a7.33,7.33,0,0,0-2.39,5.68c.07,20.55.13,41.1,0,61.65,0,3.67,1,4.57,4.6,4.56,57.64-.11,115.28,0,172.91-.21,4.9,0,5.81,1.4,5.71,5.91-.3,13.28-.2,26.57,0,39.86a9.14,9.14,0,0,1-3.06,7.25q-18,17.74-35.71,35.74a8.24,8.24,0,0,1-6.44,2.83c-20.4-.11-40.8-.08-61.19,0-2.07,0-3.79-.22-5.41-1.85q-20.88-21.06-41.91-42A16.6,16.6,0,0,1,111.81,256.59Z" transform="translate(0)" fill="#1ab580"/>
		</g>
	</svg>


</div>


<style>
	.outer {
		animation: spin 30s linear infinite;

	}

	.inner {
		animation: spin-backwards 60s linear infinite;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes spin-backwards {
		to {
			transform: rotate(-360deg);
		}
	}
</style>