<nav class="container mx-auto px-4 lg:px-16 flex items-center justify-between absolute top-0 left-0 right-0 p-4 border-b border-black/20 text-white">
	<a href="#">
		<div class="bg-black/20 rounded-full w-10 aspect-square"></div>
	</a>

	<ul class="hidden lg:flex gap-2 text-lg font-medium text-neutral-600">
		<li><a class="px-6 py-3 hover:text-neutral-800 duration-300"href="#">La teoría</a></li>
		<li><a class="px-6 py-3 hover:text-neutral-800 duration-300"href="#">Los actores</a></li>
		<li><a class="px-6 py-3 hover:text-neutral-800 duration-300"href="#">El camino</a></li>
		<li><a class="px-6 py-3 hover:text-neutral-800 duration-300"href="#">Contacto</a></li>

	</ul>

	<button class="p-2 border text-neutral-600 border-black/20 rounded-md">ES / EN</button>
</nav>