<nav class="container mx-auto px-8 flex items-center justify-between absolute top-0 left-0 right-0 p-4 border-b border-white/20 text-white">
	<a href="#">
		<div class="bg-white/80 rounded-full w-10 aspect-square"></div>
	</a>

	<ul class="flex gap-2 text-lg font-medium text-white/90">
		<li><a class="px-6 py-3 hover:text-white duration-300"href="#">Teoría</a></li>
		<li><a class="px-6 py-3 hover:text-white duration-300"href="#">Comunidad</a></li>
		<li><a class="px-6 py-3 hover:text-white duration-300"href="#">Libro</a></li>
		<li><a class="px-6 py-3 hover:text-white duration-300"href="#">Contacto</a></li>

	</ul>

	<button class="p-2 border border-white/20 rounded-md">ES / EN</button>
</nav>